@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение регистрации";
}

<h1>@ViewData["Title"]</h1>
@{
    if (Model.DisplayConfirmAccountLink)
    {
        <p>
            Здесь нет реальной отправки почты. Как настроить — см. <a
                href="https://aka.ms/aspaccountconf">документацию</a>.
            Обычно вы бы получили письмо: <a id="confirm-link"
                                               href="@Model.EmailConfirmationUrl">Подтвердить аккаунт</a>
        </p>
    }
    else
    {
        <p>
            Проверьте почту и подтвердите аккаунт.
        </p>
    }
}
