@using Microsoft.Extensions.Primitives
@model Auth.Api.ViewModels.Authorization.AuthorizeViewModel

<div class="jumbotron">
    <h1>Доступ к данным</h1>

    <p class="lead text-left">Открыть доступ для <strong>@Model.ApplicationName</strong>? Запрошены права: @Model.Scope</p>

    <form asp-controller="Authorization"
          asp-action="Authorize"
          method="post">
        @foreach (KeyValuePair<string, StringValues> parameter in Context.Request.HasFormContentType ? (IEnumerable<KeyValuePair<string, StringValues>>)Context.Request.Form : Context.Request.Query)
        {
            <input type="hidden"
                   name="@parameter.Key"
                   value="@parameter.Value" />
        }

        <input class="btn btn-lg btn-success"
               name="submit.Accept"
               type="submit"
               value="Да" />
        <input class="btn btn-lg btn-danger"
               name="submit.Deny"
               type="submit"
               value="Нет" />
    </form>
</div>
