<div class="jumbotron">
    <h1>Logout</h1>
    <form asp-controller="Authorization"
          asp-action="Logout"
          method="post">
        <button type="submit"
                class="btn btn-primary">Sign out
        </button>
    </form>
</div>
