@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Сброс ключа аутентификатора";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage"
         for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning"
     role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>После сброса ключа приложение не будет работать, пока вы его не настроите заново.</strong>
    </p>
    <p>
        На время процесса 2FA будет отключена. Если не завершите настройку, можете потерять доступ к аккаунту.
    </p>
</div>
<div>
    <form id="reset-authenticator-form"
          method="post">
        <button id="reset-authenticator-button"
                class="btn btn-danger"
                type="submit">Сбросить ключ
        </button>
    </form>
</div>
